.intro
  p Please provide the following details.
#attributeVerification(role='form')
  #passwordEntryMismatch.error.pageLevel(style='display: none;' aria-hidden='true')
    | The password entry fields do not match. Please enter the same password in both fields and try again.
  #requiredFieldMissing.error.pageLevel(style='display: none;' aria-hidden='true') A required field is missing. Please fill out all required fields and try again.
  #fieldIncorrect.error.pageLevel(style='display: none;' aria-hidden='true')
    | One or more fields are filled out incorrectly. Please check your entries and try again.
  #claimVerificationServerError.error.pageLevel(style='display: none;' aria-hidden='true')
  #attributeList.attr
    ul
      li.TextBox
        .attrEntry.validate
          div
            #email_intro.verificationInfoText(style='display: none;' aria-hidden='true' role='alert' aria-live='polite') Verification is necessary. Please click Send button.
            #email_info.verificationInfoText(style='display: inline;' aria-hidden='false' role='alert' aria-live='polite')
              | Verification code has been sent to your inbox. Please copy it to the input box below.
            #email_success.verificationSuccessText(style='display:none' aria-hidden='true') E-mail address verified. You can now continue.
            #email_fail_retry.verificationErrorText.error(style='display:none' aria-hidden='true') That code is incorrect. Please try again.
            #email_fail_no_retry.verificationErrorText.error(style='display:none' aria-hidden='true') You&apos;ve made too many incorrect attempts. Please try again later.
            #email_fail_throttled.verificationErrorText.error(style='display:none' aria-hidden='true')
              | There have been too many requests to verify this email address. Please wait a while, then try again.
            #email_fail_code_expired.verificationErrorText.error(style='display:none' aria-hidden='true') That code is expired. Please request a new code.
            #email_fail_server.verificationErrorText.error(style='display:none' aria-hidden='true')
              | We are having trouble verifying your email address. Please enter a valid email address and try again.
            #email_incorrect_format.verificationErrorText.error(style='display:none' aria-hidden='true') Incorect format.
          label(for='email') Email Address
          .error.itemLevel(aria-hidden='true')
            p Please enter a valid email address.
          input#email.textInput(type='text' placeholder='Email Address' pattern="^[a-zA-Z0-9.!#$%&'^_`{}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$" title='Email address that can be used to contact you.' required='' aria-required='true' aria-label='Please enter a valid email address., Email Address')
          a.helpLink.tiny(href='javascript:void(0)' data-help='Email address that can be used to contact you.') What is this?
          .buttons.verify(claim_id='email')
            #email_success_screenreader_msg(aria-label='E-mail address verified. You can now continue.')
            #email_ver_wait.working(aria-hidden='true' role='alert' aria-live='polite' style='display: none;')
            label#email_ver_input_label(for='email_ver_input' aria-hidden='false' style='display: inline;') Verification code
            input#email_ver_input.verifyInput(type='text' placeholder='Verification code' style='display: inline;' aria-hidden='false' aria-label='Verification code has been sent to:test.recordcopying@gmail.com, Verification code')
            button#email_ver_but_send.sendButton(type='button' style='display: none;' aria-label='Send verification code' aria-hidden='true') Send verification code
            button#email_ver_but_verify.verifyButton(type='button' style='display: inline;' aria-label='Verify code' aria-hidden='false') Verify code
            button#email_ver_but_resend.sendButton(type='button' style='display: inline;' aria-label='Send new code' aria-hidden='false') Send new code
            button#email_ver_but_edit.editButton(type='button' style='display:none' aria-label='Change e-mail' aria-hidden='true') Change e-mail
            button#email_ver_but_default.defaultButton(type='button' style='display:none' aria-label='Default') Default
      li.Password
        .attrEntry
          label(for='newPassword') New Password
          .error.itemLevel(aria-hidden='true')
            p
              | 8-16 characters, containing 3 out of 4 of the following: Lowercase characters, uppercase characters, digits (0-9), and one or more of the following symbols: @ # $ % ^ &amp; * - _ + = [ ] { } | \ : &apos; , ? / &grave; ~ &quot; ( ) ; .
          input#newPassword.textInput(type='password' placeholder='New Password' pattern='^((?=.*[a-z])(?=.*[A-Z])(?=.*\d)|(?=.*[a-z])(?=.*[A-Z])(?=.*[^A-Za-z0-9])|(?=.*[a-z])(?=.*\d)(?=.*[^A-Za-z0-9])|(?=.*[A-Z])(?=.*\d)(?=.*[^A-Za-z0-9]))([A-Za-z\d@#$%^&*\-_+=[\]{}|\\:\',?/`~"();!]|\.(?!@)){8,16}$' title='Enter new password' required='' aria-required='true' aria-label='8-16 characters, containing 3 out of 4 of the following: Lowercase characters, uppercase characters, digits (0-9), and one or more of the following symbols: @ # $ % ^ & * - _ + = [ ] { } | \ : \' , ? / ` ~ " ( ) ; ., New Password')
          a.helpLink.tiny(href='javascript:void(0)' data-help='Enter new password') What is this?
      li.Password
        .attrEntry
          label(for='reenterPassword') Confirm New Password
          .error.itemLevel(aria-hidden='true')
            p  
          input#reenterPassword.textInput(type='password' placeholder='Confirm New Password' pattern='^((?=.*[a-z])(?=.*[A-Z])(?=.*\d)|(?=.*[a-z])(?=.*[A-Z])(?=.*[^A-Za-z0-9])|(?=.*[a-z])(?=.*\d)(?=.*[^A-Za-z0-9])|(?=.*[A-Z])(?=.*\d)(?=.*[^A-Za-z0-9]))([A-Za-z\d@#$%^&*\-_+=[\]{}|\\:\',?/`~"();!]|\.(?!@)){8,16}$' title='Confirm new password' required='' aria-required='true' aria-label=' , Confirm New Password')
          a.helpLink.tiny(href='javascript:void(0)' data-help='Confirm new password') What is this?
      li.TextBox
        .attrEntry
          label(for='displayName') Display Name
          .error.itemLevel(aria-hidden='true')
            p
          input#displayName.textInput(type='text' placeholder='Display Name' title='Your display name.' aria-label=', Display Name')
          a.helpLink.tiny(href='javascript:void(0)' data-help='Your display name.') What is this?
  .buttons
    button#continue(disabled='' aria-label='Create') Create
    button#cancel(aria-label='Cancel' formnovalidate='') Cancel
  .verifying-modal
    #verifying_blurb