.intro {
  display: none; }

.entry-item label {
  display: block; }

input {
  border: 1px solid #ccc;
  padding: 2px;
  height: 34px;
  text-indent: 5px;
  min-width: 220px;
  border-radius: 4px; }
  input[type="email"] {
    width: 100%;
    max-width: 420px;
    margin-bottom: 1.5em; }
  input[type="password"] {
    width: 100%;
    max-width: 420px; }

.buttons {
  margin-top: 2em; }
  .buttons button#next {
    background-color: #008484;
    color: #fff;
    padding: 0.5em 0.9em;
    display: inline-block;
    min-width: 24px;
    text-align: center;
    margin-top: 0.5em;
    border: none; }
    .buttons button#next:focus {
      background-color: #fce45c;
      color: #000;
      text-decoration: underline; }
    .buttons button#next:hover {
      background-color: #fce45c;
      color: #000;
      text-decoration: underline; }

a#createAccount {
  margin-left: 0.5em; }

.divider,
.create {
  display: none; }

#forgotPassword {
  position: relative;
  top: 5em;
  left: 6em; }

.password-label {
  height: 1.8em; }
