[data-name="SelfAsserted"] {
  #attributeList {
    ul {
      li:first-of-type {
        .buttons {
          margin-left: 0;
        }
      }
      li {
        list-style: none;

        div.attrEntry {
          display: flex;
          flex-direction: column;

          > div {
            margin-bottom: 0.5em;

            .verificationInfoText {
              font-weight: 700;
            }
          }
          .error.itemLevel {
            order: 5;
          }
          .buttons.verify {
            order: 2;
            margin-top: 0;
            margin-bottom: 1.5em;
          }
          label {
            order: 1;
          }
          input {
            order: 2;
            max-width: 420px;
          }
          a.helpLink.tiny {
            order: 4;
            display: none;
          }
        }
      }
    }
    [aria-hidden="true"] {
      display: none;
    }
    #email {
      display: block;
    }
    .validate {
      #email_ver_input_label,
      #email_ver_input {
        display: block; // !important;
      }
      #email_ver_input_label {
        margin-top: 10px;
      }
      #email_ver_input_label {
        &::after {
          content: "";
          display: block;
        }
      }
    }
  }

  .buttons {
    margin-left: 1.5em;

    #continue {
      background-color: $tna_teal;
      padding: 0.5em 0.9em;
      min-width: 24px;
      text-align: center;
      border: none;
      color: $tna_white;

      &:focus {
        background-color: $tna_yellow;
        color: #000;
        text-decoration: underline;
      }
      &:hover {
        background-color: $tna_yellow;
        color: #000;
        text-decoration: underline;
      }
    }
    #cancel {
      color: $tna_link;
      text-decoration: none;
      background: none;
      border: none;
      &:hover {
        text-decoration: underline;
      }
    }
  }
  #attributeVerification {
    .verificationSuccessText {
      margin: 1em 0;
      padding: 1.6em 1em;
      font-size: 1em;
      background-color: $tna_success;
      border-left: 4px solid $tna_success_border;

      &::after {
        content: " ";
        display: block;
      }
    }
    #email_ver_but_verify {
      background-color: $tna_teal;
      padding: 0.5em 0.9em;
      min-width: 24px;
      text-align: center;
      border: none;
      color: $tna_white;
      margin-top: 0.5em;

      &:focus {
        background-color: $tna_yellow;
        color: #000;
        text-decoration: underline;
      }
      &:hover {
        background-color: $tna_yellow;
        color: #000;
        text-decoration: underline;
      }
    }
    #email_ver_but_send {
      margin-top: 0.5em;
    }
    #email_ver_but_resend {
      color: $tna_link;
      text-decoration: none;
      background: none;
      border: none;
      margin-top: 0.5em;

      &:hover {
        text-decoration: underline;
      }
    }
    #verifyButton {
      background-color: $tna_teal;
      padding: 0.5em 0.9em;
      min-width: 24px;
      text-align: center;
      border: none;
      color: $tna_white;

      &:focus {
        background-color: $tna_yellow;
        color: #000;
        text-decoration: underline;
      }
      &:hover {
        background-color: $tna_yellow;
        color: #000;
        text-decoration: underline;
      }
    }
  }
}
