$tna_teal: #008484;
$tna_yellow: #fce45c;
$tna_link: #2a5db0;
$tna_white: #fff;
$tna_heading_flourish: url("../img/heading-flourish.png") no-repeat bottom left;
$tna_dot_grey: url("../img/dot-grey.png");
$tna_blue: #405480;
$tna_error: #ebab00;
$tna_fontHeading: Bitter, "Open Sans", arial, serif;
