$tna_teal: #008484;
$tna_yellow: #fce45c;
$tna_link: #2a5db0;
$tna_ribbon: #405480;
$tna_white: #fff;
$tna_heading_flourish: url("../img/heading-flourish.png") no-repeat bottom left;
$tna_dot_grey: url("../img/dot-grey.png");
$tna_blue: #405480;

h1 {
  color: red;
}

#api {
  .intro {
    display: none;
  }

  .entry-item {
    label {
      display: block;
    }
  }

  input {
    border: 1px solid #ccc;
    padding: 2px;
    height: 34px;
    text-indent: 5px;
    min-width: 220px;
    border-radius: 4px;

    &[type="email"] {
      width: 100%;
      max-width: 420px;
      margin-bottom: 1.5em;
    }
    &[type="password"] {
      width: 100%;
      max-width: 420px;
    }
  }
  .buttons {
    margin-top: 2em;
    button#next {
      background-color: $tna_teal;
      color: #fff;
      padding: 0.5em 0.9em;
      display: inline-block;
      min-width: 24px;
      text-align: center;
      margin-top: 0.5em;
      border: none;

      //visibility: hidden;
      //position: relative;

      &:focus {
        background-color: $tna_yellow;
        color: #000;
        text-decoration: underline;
      }
      &:hover {
        background-color: $tna_yellow;
        color: #000;
        text-decoration: underline;
      }
    }
  }

  a#createAccount {
    margin-left: 0.5em;
  }

  #forgotPassword {
    position: relative;
    top: 5em;
    left: 6em;
  }

  .password-label {
    height: 1.8em;
  }

  #ContosoExchange {
    background: none;
    border: none;
    color: $tna_link;

    &:hover {
      text-decoration: underline;
    }
  }

  .error,
  .pageLevel {
    margin: 1em 0;
    padding: 1.6em 1em;
    font-size: 1em;
    background-color: #fff8d0 !important;
    border-left: 4px solid #ebab2c !important;
  }
}

.sep {
  margin-left: 0.4em;
  margin-right: 0.4em;
}

.content {
  background-color: $tna_white;
  margin-bottom: 1.5em;
  .entry-header {
    padding: 10px 10px 0 0;
    background: $tna_dot_grey;
    h1 {
      font-size: 2em;
      padding: 4px 10px;
      background-color: $tna_blue;
      color: #fff;
      line-height: 1.25;
      margin: 0 10px 0 -10px;
      display: inline-block;
    }
  }
  .entry-header:after {
    content: " ";
    display: block;
    height: 10px;
    margin: 0 0 0 -10px;
    background: $tna_heading_flourish;
  }
  .entry-content {
    padding: 20px;
    .thumbnail {
      margin-bottom: 10px;
      border: none;
      padding: 0;
    }
  }
}
.equal-heights {
  > div {
    background: white;
    background-clip: content-box;
    margin-bottom: 1.5em;
  }
  article {
    margin-bottom: 0;
  }
  p {
    margin-bottom: 0.5em;
  }
}
