doctype html
html(lang="en")
    include ./includes/head
    body
        include ./includes/header
        include ./includes/breadcrumbs
        include ./includes/main
        include ./includes/footer