<%- contentFor('main') %>
<main id="main" role="main" class="col-xs-12 col-sm-8 col-md-8">
  <article class="breather">
    <div class="entry-header">
      <h1>Login</h1>
    </div>
    <div class="entry-content clearfix">
      <div id="api" data-name="Unified">
        <div
          class="social"
          aria-label="Sign in with your social account"
          role="form"
        >
          <div class="intro">
            <h2>Sign in with your social account</h2>
          </div>
          <div class="options">
            <div>
              <button
                class="accountButton firstButton"
                id="ContosoExchange"
                tabindex="1"
              >
                devtna.onmicrosoft.com Employee
              </button>
            </div>
          </div>
        </div>

        <div class="divider">
          <h2>OR</h2>
        </div>

        <div
          class="localAccount"
          aria-label="Sign in with your existing account"
          role="form"
        >
          <div class="intro">
            <h2>
              Sign in with your existing account
            </h2>
          </div>
          <div
            class="error pageLevel"
            aria-hidden="false"
            style="display: block;"
          >
            <p role="alert">Your password is incorrect</p>
          </div>
          <div class="entry">
            <div class="entry-item">
              <label for="signInName">
                Email Address
              </label>
              <div
                class="error itemLevel"
                aria-hidden="true"
                style="display: none;"
              >
                <p role="alert">Please enter your email</p>
              </div>
              <input
                type="email"
                id="signInName"
                name="Sign in name"
                pattern="^[a-zA-Z0-9.!#$%&amp;’'*+/=?^_`{|}~-]+@[a-zA-Z0-9-]+(?:\.[a-zA-Z0-9-]+)*$"
                placeholder="Email Address"
                value=""
                tabindex="1"
                class=""
              />
            </div>
            <div class="entry-item">
              <div class="password-label">
                <label for="password">Password</label>
                <a
                  id="forgotPassword"
                  tabindex="2"
                  href="/tnasso.onmicrosoft.com/B2C_1A_TNASSO_signup_signin/api/CombinedSigninAndSignup/forgotPassword?csrf_token=azVoOHArSFRwMlg5M3lrTGc0cWdmQXZ5bkl5YzhGeHdMRGpxWVZXc3ZLZy8rODQ0ZlNFYTlxcnh3dDYrMVVTOGNVa3l3dzljMVpORVBzY1gwSTNURWc9PTsyMDE5LTAyLTIxVDE1OjA1OjI0LjQ4NDk2NTZaOzZQSTdqOW9TckdrTjRFN3k0RFZZUHc9PTt7Ik9yY2hlc3RyYXRpb25TdGVwIjoxfQ==&amp;tx=StateProperties=eyJUSUQiOiJlMTFkN2JhMC00YzRkLTQwYmItYTdmMi1lNzI0YTI3MzNlMmEifQ&amp;p=B2C_1A_TNASSO_signup_signin"
                  >Forgot your password?</a
                >
              </div>
              <div
                class="error itemLevel"
                aria-hidden="true"
                style="display: none;"
              >
                <p role="alert">Please enter your password</p>
              </div>
              <input
                type="password"
                id="password"
                name="Password"
                placeholder="Password"
                tabindex="1"
                class=""
              />
            </div>
            <div class="working" style="display: none;"></div>
            <div class="buttons">
              <button id="next" tabindex="1">Sign in</button>
            </div>
          </div>

          <div class="divider">
            <h2>OR</h2>
          </div>
          <div class="create">
            <p>
              Don't have an account?<a
                id="createAccount"
                tabindex="1"
                href="/tnasso.onmicrosoft.com/B2C_1A_TNASSO_signup_signin/api/CombinedSigninAndSignup/unified?local=signup&amp;csrf_token=azVoOHArSFRwMlg5M3lrTGc0cWdmQXZ5bkl5YzhGeHdMRGpxWVZXc3ZLZy8rODQ0ZlNFYTlxcnh3dDYrMVVTOGNVa3l3dzljMVpORVBzY1gwSTNURWc9PTsyMDE5LTAyLTIxVDE1OjA1OjI0LjQ4NDk2NTZaOzZQSTdqOW9TckdrTjRFN3k0RFZZUHc9PTt7Ik9yY2hlc3RyYXRpb25TdGVwIjoxfQ==&amp;tx=StateProperties=eyJUSUQiOiJlMTFkN2JhMC00YzRkLTQwYmItYTdmMi1lNzI0YTI3MzNlMmEifQ&amp;p=B2C_1A_TNASSO_signup_signin"
                >Sign up now</a
              >
            </p>
          </div>
        </div>
      </div>
    </div>
  </article>
</main>
