<header role="banner">
    <a id="skip-to-main-content" href="#breadcrumb-holder"
      >Skip to Main Content</a
    >
    <div class="container">
      <div class="row">
        <div class="col-xs-2 col-sm-5">
          <a
            href="http://www.nationalarchives.gov.uk"
            title="Go to The National Archives homepage"
          >
            <img
              src="http://www.nationalarchives.gov.uk/wp-content/themes/tna-base/img/logo-white.png"
              alt="The National Archives"
              class="img-responsive"
            />
          </a>
        </div>
      </div>
    </div>
  </header>