<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <!-- Fonts -->
    <link
      rel="stylesheet"
      id="tna-google-fonts"
      href="https://fonts.googleapis.com/css?family=Open+Sans%3A400%2C700%2C400italic%2C700italic%7CBitter&#038;ver=4.4.14"
      type="text/css"
      media="all"
    />
    <link
      rel="stylesheet"
      href="https://cdn.nationalarchives.gov.uk/tna-base/1.0/css/tna-base.min.css"
    />
    <link rel="stylesheet" href="./css/main.css" />

    <title>The National Archives</title>
  </head>