footer
    div.container
        div.row
            
            div.col-xs-12.col-sm-9
                a(title="External website - opens in a new window", href="http://www.nationalarchives.gov.uk/doc/open-government-licence/")
                    div.icon.icon-logo-ogl
                p  All content is available under the <a href="http://www.nationalarchives.gov.uk/doc/open-government-licence/">Open Government Licence v3.0</a><br/>except where otherwise stated
            
            div.col-xs-12.col-sm-3.text-right
                a(title="External website - opens in a new window", href="http://gov.uk/", target="_blank", rel="noopener noreferrer")
                div.icon.icon-logo-gov-uk