head
    title Discovery login - The National Archives
    meta(charset="utf-8")
    meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
    meta(name="viewport", content="width=device-width", initial-scale="1")
    meta(name="description" content="The National Archives discovery login")
    meta(name="author" content="The National Archives")

    link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Open+Sans%3A400%2C700%2C400italic%2C700italic%7CBitter&#038;ver=4.4.14")
    link(rel="stylesheet" href="https://cdn.nationalarchives.gov.uk/tna-base/1.0/css/tna-base.min.css")
    link(rel="stylesheet" href="css/main.css")