header
    div.container
        div.row#header
            div.col-md-12
                a(href='http://www.nationalarchives.gov.uk' target='_blank').visible-lg.visible-md.visible-sm
                    img(src='img/logo-tna-white.png').img-responsive