main(id="primary", role="main", class="content-area")
    div.container
        div.row
            div.col-md-12
                article
                    div.entry-header
                        h1 Discovery sign on
                    div.row.entry-content
                        div#api